.headShot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    clip-path: ellipse();
}

.leftBox{
    padding: 2%;
    overflow: hidden;
    width: 28%;
    float: left;
    background-color: rgb(50, 59, 76);
    color: aliceblue;
}

.leftBox hr {
    margin-right: -10%;
}

.rightBox{
    width: 75%;
    float: right;
    padding-left: 2%;
    overflow: hidden;
}

.rightBox hr {
    margin-left: -10%;
}

.sectionHeader{
    font-size: 30px;
    font-weight: bold;
}

.leftLinkText{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-decoration: none;
    background-color: none;
    font-weight: bolder;
    font-size: large
}

.leftLinkText:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.footer {
    overflow: auto;
    bottom: 0%;
    padding: 1%;
}

.footer hr {
    margin-left: -1%;
}

.rightLinkText{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    background-color: none;
}

.rightLinkText:hover {
    text-decoration: underline;
}